<!doctype html>
<html class='h-full'>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<!-- Exploding Chickens, game interface // RAk3rman -->
<body class='flex flex-col h-full'>
{{! Navigation bar }}
<nav class="">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            {{! Exploding Chickens header }}
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <h1 class="h-8 text-3xl" style="font-family: Bebas Neue">EXPLODING <a class="text-yellow-500">CHICKENS</a></h1>
                </div>
            </div>
            {{! Right sidebar actions }}
            <div class="block">
                <div class="ml-4 flex items-center md:ml-6">
                    <span class="relative inline-flex">
                        {{! Active users }}
                        <div class="inline-flex items-center -space-x-1 overflow-hidden p-2">
                            <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="">
                            <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                        </div>
                        {{! Slide over button }}
                        <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white">
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                        {{! Status ping }}
                        <span class="flex absolute h-2 w-2 top-2 right-2 -mt-1 -mr-1">
                            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
                            <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"></span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>
{{! Draw and discard deck }}
<div class="flex flex-col items-center justify-center h-screen pb-10">
    <div class="flex align-top mb-10">
        <div class="inline-flex items-center p-2">
            {{! Sample player }}
            <div class="block text-center">
                <h1 class="text-gray-600 font-medium text-sm">
                    Radison <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 align-middle bg-green-500"></span>
                </h1>
                <div class="flex flex-col items-center -space-y-3">
                    <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    <div class="-space-x-4 rotate-12">
                        <div class="transform inline-block rounded-md bg-gray-700 shadow-md h-5 w-4 -rotate-12"><h1 class="text-gray-700 text-sm">1</h1></div>
                        <div class="transform inline-block rounded-md bg-gray-600 shadow-md h-5 w-4"><h1 class="text-gray-600 text-sm">1</h1></div>
                        <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4 rotate-12">
                            <h1 class="text-white text-sm">3</h1>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mx-2 bg-gray-400 p-1 rounded-full text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
            </button>
            {{! Sample player }}
            <div class="block text-center">
                <h1 class="text-gray-600 font-medium text-sm">
                    Disconnected <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 align-middle bg-yellow-400"></span>
                </h1>
                <div class="flex flex-col items-center -space-y-3">
                    <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    <div class="-space-x-4 rotate-12">
                        <div class="transform inline-block rounded-md bg-gray-700 shadow-md h-5 w-4 -rotate-12"><h1 class="text-gray-700 text-sm">1</h1></div>
                        <div class="transform inline-block rounded-md bg-gray-600 shadow-md h-5 w-4"><h1 class="text-gray-600 text-sm">1</h1></div>
                        <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4 rotate-12">
                            <h1 class="text-white text-sm">3</h1>
                        </div>
                    </div>
                </div>
            </div>
            <button class="mx-2 bg-gray-400 p-1 rounded-full text-white hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                </svg>
            </button>
            {{! Sample player }}
            <div class="block text-center">
                <h1 class="text-gray-600 font-medium text-sm">
                    Exploded <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 align-middle bg-red-500"></span>
                </h1>
                <div class="flex flex-col items-center -space-y-3">
                    <img class="h-12 w-12 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    <div class="-space-x-4 rotate-12">
                        <div class="transform inline-block rounded-md bg-gray-700 shadow-md h-5 w-4 -rotate-12"><h1 class="text-gray-700 text-sm">1</h1></div>
                        <div class="transform inline-block rounded-md bg-gray-600 shadow-md h-5 w-4"><h1 class="text-gray-600 text-sm">1</h1></div>
                        <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4 rotate-12">
                            <h1 class="text-white text-sm">3</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex align-bottom">
        <div class="rounded-xl border-dashed border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
            <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Draw Deck</h1>
        </div>
        <div class="rounded-xl border-dashed border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
            <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Discard Deck</h1>
        </div>
    </div>
</div>
{{! Card hand }}
<footer class='w-full h-28 text-center py-2'>
    <div class="-my-2 overflow-x-auto">
        <div class="align-middle inline-block min-w-full sm:px-0 lg:px-8">
            <div class="overflow-hidden">
                <div class="flex items-center">
                    <div class="inline-block rounded-xl border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
                        <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Defuse Card</h1>
                    </div>
                    <div class="inline-block rounded-xl border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
                        <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Skip Card</h1>
                    </div>
                    <div class="inline-block rounded-xl border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
                        <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Attack Card</h1>
                    </div>
                    <div class="inline-block rounded-xl border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
                        <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Reverse Card</h1>
                    </div>
                    <div class="inline-block rounded-xl border-4 border-gray-400 shadow-lg h-64 w-52 mx-1">
                        <h1 class="text-gray-400 font-bold flex items-center justify-center h-64">Random Card</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>