<!doctype html>
<html class='h-full w-full'>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Exploding Chickens</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    <link rel="canonical" href="https://chickens.rakerman.com/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="Exploding Chickens" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Exploding Chickens" />
    <meta property="og:description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)" />
    <meta property="og:url" content="https://chickens.rakerman.com/" />
    <meta property="og:image" content="https://chickens.rakerman.com/public/home_ui.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="440" />
    <style>
        .center-card {
            width: 10.2rem;
            height: 14.4rem;
            border-radius: 1.6rem;
        }
    </style>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-image: url('/public/home_back.jpg');">
<div class="h-full">
    {{! Header }}
    <div class="w-full container mx-auto">
        <div class="w-full flex items-center justify-between">
            <div class="flex-shrink-0">
                <h1 class="h-8 text-4xl text-white opacity-80" style="font-family: Bebas Neue"><a class="text-yellow-400">EXPLODING</a> CHICKENS</h1>
            </div>
            <div class="flex w-1/2 justify-end content-center">
                <a class="inline-block text-white opacity-80 no-underline hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 transform hover:scale-125 duration-300 ease-in-out" href="https://github.com/rak3rman/exploding-chickens">
                    <svg class="fill-current h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                </a>
            </div>
        </div>
    </div>
    {{! Landing Text }}
    <div class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
            <h1 class="my-4 text-4xl md:text-5xl text-white opacity-80 font-bold leading-tight text-left">
                Ba-da bing! Ba-da
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">
                    boom!
                </span>
            </h1>
            <p class="leading-normal text-white opacity-80 text-lg md:text-2xl mb-8 text-left">
                A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)
            </p>
            <div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center">
                <form class="pr-3 mb-3" action="/game/create" method="POST" enctype="application/x-www-form-urlencoded">
                    <button type="submit" class="w-full sm:h-14 h-12 sm:w-auto flex-none bg-yellow-500 hover:bg-yellow-600 text-gray-100 text-lg leading-6 font-semibold py-3 px-6 border border-transparent rounded-xl focus:outline-none transition-colors duration-200">
                        New Game
                    </button>
                </form>
                <div class="bg-transparent" style="margin-left: 0; margin-top: 0">
                    <div class="container flex justify-center items-center">
                        <div class="relative">
                            <div class="absolute sm:top-4 top-3 left-3">
                                <i class="fa fa-search text-gray-400 z-20 hover:text-gray-400"></i>
                            </div>
                            <input type="text" id="game_slug" class="sm:h-14 h-12 sm:w-96 w-80 pl-10 pr-20 rounded-xl text-lg z-0 bg-transparent text-gray-400 border-2 border-gray-500 focus:outline-none" placeholder="Enter a game code...">
                            <div class="absolute top-2 right-2">
                                <button class="sm:h-10 h-8 w-24 text-gray-100 rounded-lg bg-red-500 hover:bg-red-600 focus:outline-none" onclick="join_game()">Join Game</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{! UI Demo }}
        <div class="w-full xl:w-3/5 p-12 overflow-hidden">
            <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:-rotate-3" src="/public/game_ui.png" />
        </div>
        {{! How to Play }}
        <div class="flex flex-col w-full justify-center overflow-y-hidden pt-20">
            <h1 class="my-4 text-4xl md:text-5xl text-white opacity-80 font-bold leading-tight text-left">
                How to <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">Play</span>
            </h1>
            <p class="leading-normal text-white opacity-80 text-lg md:text-2xl mb-8 text-left">
                The first rule of Exploding Chickens is simple. Don't explode.
            </p>
        </div>
        {{! How to Play: Game Structure }}
        <div class="flex flex-col w-full justify-center overflow-y-hidden pt-2 pb-5">
            <p class="leading-normal text-white opacity-80 text-2xl md:text-3xl text-left">
                Game Structure
            </p>
        </div>
        <div class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">1</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg leading-6 text-white opacity-80">
                        Bacon ipsum
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Spicy jalapeno bacon ipsum dolor amet tempor doner sunt porchetta. Cupim tempor labore quis ad. Shoulder capicola shank, ipsum eu jowl excepteur. Pork aliqua nisi cupidatat ribeye ut filet mignon ea biltong exercitation. Cow flank ullamco adipisicing. Elit chuck dolore swine nostrud.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">2</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg leading-6 text-white opacity-80">
                        Bacon ipsum
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Fugiat aliqua tail pancetta. Ex kielbasa burgdoggen proident in short ribs culpa corned beef. Pariatur beef ribs andouille kevin nulla in quis duis sirloin fatback. Minim pancetta sint, dolor culpa capicola swine t-bone brisket ball tip irure.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">3</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg leading-6 text-white opacity-80">
                        Bacon ipsum
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Spicy jalapeno bacon ipsum dolor amet tempor doner sunt porchetta. Cupim tempor labore quis ad. Shoulder capicola shank, ipsum eu jowl excepteur. Pork aliqua nisi cupidatat ribeye ut filet mignon ea biltong exercitation. Cow flank ullamco adipisicing. Elit chuck dolore swine nostrud.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <h1 class="px-6 text-6xl text-white opacity-80 font-bold leading-tight text-left">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">4</span>
                    </h1>
                </div>
                <div class="ml-4">
                    <dt class="text-lg leading-6 text-white opacity-80">
                        Bacon ipsum
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Fugiat aliqua tail pancetta. Ex kielbasa burgdoggen proident in short ribs culpa corned beef. Pariatur beef ribs andouille kevin nulla in quis duis sirloin fatback. Minim pancetta sint, dolor culpa capicola swine t-bone brisket ball tip irure.
                    </dd>
                </div>
            </div>
        </div>
        {{! How to Play: Base Card Pack }}
        <div class="flex flex-col w-full justify-center overflow-y-hidden pt-10 pb-5">
            <p class="leading-normal text-white opacity-80 text-2xl md:text-3xl text-left">
                Base Card Pack
            </p>
        </div>
        <div class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/chicken-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-red-500 to-yellow-500">The Exploding Chicken</span>
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/defuse-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Defuse
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/attack-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Attack
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/seethefuture-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        See the Future
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/skip-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Skip
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/reverse-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Reverse
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/shuffle-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Shuffle
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/favor-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Favor
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
            <div class="flex">
                <div class="flex-shrink-0">
                    <div class="rounded-xl shadow-lg center-card bg-center bg-contain mx-1" style="background-image: url('/public/cards/base/randchick-1.png');"></div>
                </div>
                <div class="ml-4">
                    <dt class="text-xl leading-6 text-white opacity-80">
                        Random Chickens
                    </dt>
                    <dd class="mt-2 text-base text-white opacity-60">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </dd>
                </div>
            </div>
        </div>
        {{! Footer }}
        <div class="w-full pt-16 pb-12 text-sm text-center md:text-left fade-in">
            <h1 class="text-white opacity-80 pb-1 float-left">Exploding Chickens 2021. Made with <i class="fas fa-heart text-red-500"></i> by our <a class="text-blue-400" href="https://github.com/rak3rman/exploding-chickens">contributors</a>.</h1>
            <h2 class="text-white opacity-80 pb-1 md:float-right">Release v{{ version }}</h2>
        </div>
    </div>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/public/js/home.js"></script>
</html>