<!doctype html>
<html class='h-full w-full'>
{{!-- import tailwind css and bebas neue font --}}

<head>
    <script src="https://kit.fontawesome.com/399be27ad4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href='https://css.gg/enter.css' rel='stylesheet'>
</head>

<body>
    <!-- Exploding Chickens, home landing page // SengdowJones -->
<div class="space-y-20 sm:space-y-32 md:space-y-40 lg:space-y-44 overflow-hidden">
   <header class="relative z-10 max-w-screen-lg xl:max-w-screen-xl mx-auto">
      <div class="px-4 sm:px-6 md:px-8 mb-14 sm:mb-20 xl:mb-8">
         <div class="border-b border-gray-200 py-2 flex items-center justify-between mb-16 sm:mb-20 -mx-4 px-4 sm:mx-0 sm:px-0">
            <button href="https://localhost:3000" type="button" class="group leading-6 font-medium flex items-center space-x-3 sm:space-x-4 hover:text-gray-600 transition-colors duration-200 w-full py-2">
               <img class="p-3 h-auto w-10/12 md:px-32 lg:h-24 lg:w-auto" src="public\css\assets\ecv02.png" alt="">
            </button>
            <div class="flex items-center space-x-6 sm:space-x-10 ml-6 sm:ml-10">
               <a href="https://localhost:3000/howtoplay" class="text-gray-400 hover:text-gray-500 transition-colors duration-200">
                  <span class="sr-only">How to Play</span>
                  <img src="https://img.icons8.com/dotty/80/000000/question-mark.png"/>
               </a>
            </div>
         </div>
         <h1 class="text-md sm:text-3xl lg:text-4xl leading-none tracking-tight text-gray-900 -my-10">v1.0</h1>
         <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 mt-10 mb-8 sm:mt-14 sm:mb-10">Exploding Chickens</h1>
         <p class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">
            A beautiful, online alternative to the popular kitty-powered version of Russian Roulette,  <code class="font-mono text-gray-700 font-bold ">Exploding Kittens</code>. Who will be the last one standing?
         </p>
         <div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center">
            <form class="sm:block" action="/game/create" method="POST" enctype="application/x-www-form-urlencoded">
                <button type="submit"
                    class="w-full sm:w-auto flex-none bg-yellow-500 hover:bg-yellow-400 text-white text-lg leading-6 font-semibold py-3 px-6 border border-transparent rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-yellow-900 focus:outline-none transition-colors duration-200">
                    New Game</button>
            </form>
            <button type="button" onclick=join_game_modal() class="w-full sm:w-auto flex-none bg-gray-50 text-gray-400 hover:text-gray-900 font-mono leading-6 py-3 sm:px-6 border border-gray-200 rounded-xl flex items-center justify-center space-x-2 sm:space-x-4 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-300 focus:outline-none transition-colors duration-200">
               <span class="text-gray-900">
                  <span class="hidden sm:inline text-gray-500" aria-hidden="true">
                     Enter Code<!-- --> 
                  </span>
                  Join Game
               </span>
               <i class="gg-enter"></i>
            </button>
         </div>
      </div>
   </header>

    <footer class="bg-gray-50 pt-16 pb-12 sm:pt-20 md:pt-24 xl:pt-32 sm:pb-20">
        <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto divide-y divide-gray-200 px-4 sm:px-6 md:px-8">
            <ul class="Footer_nav__2rFid text-sm font-medium pb-14 sm:pb-20 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-10">
            <li class="space-y-5 row-span-2">
                <h2 class="text-xs font-semibold tracking-wide text-gray-900 uppercase">Credits</h2>
                <a href="https://icons8.com/icon/42472/question-mark">Question Mark icon by Icons8</a>
            </li>
            <li class="space-y-5 row-span-2">
                <h2 class="text-xs font-semibold tracking-wide text-gray-900 uppercase">Core concepts</h2>
                <ul class="space-y-4">
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/utility-first">Utility-First</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/responsive-design">Responsive Design</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/hover-focus-and-other-states">Hover, Focus, &amp; Other States</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/dark-mode">Dark Mode</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/adding-base-styles">Adding Base Styles</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/extracting-components">Extracting Components</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/adding-new-utilities">Adding New Utilities</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/functions-and-directives">Functions &amp; Directives</a></li>
                </ul>
            </li>
            <li class="space-y-5 row-span-2">
                <h2 class="text-xs font-semibold tracking-wide text-gray-900 uppercase">Customization</h2>
                <ul class="space-y-4">
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/configuration">Configuration</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/theme">Theme Configuration</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/breakpoints">Breakpoints</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/customizing-colors">Customizing Colors</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/customizing-spacing">Customizing Spacing</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/configuring-variants">Configuring Variants</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/plugins">Plugins</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/docs/presets">Presets</a></li>
                </ul>
            </li>
            <li class="space-y-5">
                <h2 class="text-xs font-semibold tracking-wide text-gray-900 uppercase">Community</h2>
                <ul class="space-y-4">
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="https://github.com/tailwindlabs/tailwindcss">GitHub</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="/discord">Discord</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="https://twitter.com/tailwindcss">Twitter</a></li>
                    <li><a class="hover:text-gray-900 transition-colors duration-200" href="https://www.youtube.com/tailwindlabs">YouTube</a></li>
                </ul>
            </li>
            </ul>
            <div class="pt-10 sm:pt-12">
            <svg viewBox="0 0 247 31" width="208" height="26">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z" fill="#06B6D4"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M76.546 12.825h-4.453v8.567c0 2.285 1.508 2.249 4.453 2.106v3.463c-5.962.714-8.332-.928-8.332-5.569v-8.567H64.91V9.112h3.304V4.318l3.879-1.143v5.937h4.453v3.713zM93.52 9.112h3.878v17.849h-3.878v-2.57c-1.365 1.891-3.484 3.034-6.285 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.285 2.999V9.112zm-5.674 14.636c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm16.016-17.313c-1.364 0-2.477-1.142-2.477-2.463a2.475 2.475 0 012.477-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.879v17.849h-3.879zm8.368 0V.9h3.878v26.06h-3.878zm29.053-17.849h4.094l-5.638 17.849h-3.807l-3.735-12.03-3.771 12.03h-3.806l-5.639-17.849h4.094l3.484 12.315 3.771-12.315h3.699l3.734 12.315 3.52-12.315zm8.906-2.677c-1.365 0-2.478-1.142-2.478-2.463a2.475 2.475 0 012.478-2.463 2.475 2.475 0 012.478 2.463c0 1.32-1.113 2.463-2.478 2.463zm-1.939 20.526V9.112h3.878v17.849h-3.878zm17.812-18.313c4.022 0 6.895 2.713 6.895 7.354V26.96h-3.878V16.394c0-2.713-1.58-4.14-4.022-4.14-2.55 0-4.561 1.499-4.561 5.14v9.567h-3.879V9.112h3.879v2.285c1.185-1.856 3.124-2.749 5.566-2.749zm25.282-6.675h3.879V26.96h-3.879v-2.57c-1.364 1.892-3.483 3.034-6.284 3.034-4.884 0-8.942-4.105-8.942-9.389 0-5.318 4.058-9.388 8.942-9.388 2.801 0 4.92 1.142 6.284 2.999V1.973zm-5.674 21.775c3.232 0 5.674-2.392 5.674-5.712s-2.442-5.711-5.674-5.711-5.674 2.392-5.674 5.711c0 3.32 2.442 5.712 5.674 5.712zm22.553 3.677c-5.423 0-9.481-4.105-9.481-9.389 0-5.318 4.058-9.388 9.481-9.388 3.519 0 6.572 1.82 8.008 4.605l-3.34 1.928c-.79-1.678-2.549-2.749-4.704-2.749-3.16 0-5.566 2.392-5.566 5.604 0 3.213 2.406 5.605 5.566 5.605 2.155 0 3.914-1.107 4.776-2.749l3.34 1.892c-1.508 2.82-4.561 4.64-8.08 4.64zm14.472-13.387c0 3.249 9.661 1.285 9.661 7.89 0 3.57-3.125 5.497-7.003 5.497-3.591 0-6.177-1.607-7.326-4.177l3.34-1.927c.574 1.606 2.011 2.57 3.986 2.57 1.724 0 3.052-.571 3.052-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.909-5.462 6.572-5.462 2.945 0 5.387 1.357 6.644 3.713l-3.268 1.82c-.647-1.392-1.904-2.035-3.376-2.035-1.401 0-2.622.607-2.622 1.892zm16.556 0c0 3.249 9.66 1.285 9.66 7.89 0 3.57-3.124 5.497-7.003 5.497-3.591 0-6.176-1.607-7.326-4.177l3.34-1.927c.575 1.606 2.011 2.57 3.986 2.57 1.724 0 3.053-.571 3.053-2 0-3.176-9.66-1.391-9.66-7.781 0-3.356 2.908-5.462 6.572-5.462 2.944 0 5.386 1.357 6.643 3.713l-3.268 1.82c-.646-1.392-1.903-2.035-3.375-2.035-1.401 0-2.622.607-2.622 1.892z" fill="#000"></path>
            </svg>
            </div>
        </div>
    </footer>
</div>
    
</body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/public/js/home.js"></script>
    <script>
        function openModal(key) {
            document.getElementById(key).showModal();
            document.body.setAttribute('style', 'overflow: hidden;');
            document.getElementById(key).children[0].scrollTop = 0;
            document.getElementById(key).children[0].classList.remove('opacity-15');
            document.getElementById(key).children[0].classList.add('opacity-85')
        }

        function modalClose(key) {
            document.getElementById(key).children[0].classList.remove('opacity-85');
            document.getElementById(key).children[0].classList.add('opacity-15');
            setTimeout(function () {
                document.getElementById(key).close();
                document.body.removeAttribute('style');
            }, 100);
        }
    </script>


</html>