<!doctype html>
<html class='h-full'>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<!-- Exploding Chickens, home landing page // SengdowJones -->
<!-- animation -->

<div class="m-8">
<p class="text-7xl" style="font-family: Bebas Neue">EXPLODING <a class="text-yellow-500">CHICKENS</a></p>
<p class="italic">Placeholder text: An online alternative to a card game inspired by Russian Roulette.</p>
</div>
</html>
