<!doctype html>
<html class='h-full w-full'>
<head>
    <script src="https://kit.fontawesome.com/399be27ad4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href='https://css.gg/enter.css' rel='stylesheet'>
</head>

<body>
<!-- Exploding Chickens, home landing page // SengdowJones & RAk3rman -->
<div class="space-y-20 sm:space-y-32 md:space-y-40 lg:space-y-44 overflow-hidden">
   <header class="relative z-10 max-w-screen-lg xl:max-w-screen-xl mx-auto">
      <div class="px-4 sm:px-6 md:px-8 mb-14 sm:mb-20 xl:mb-8">
         <div class="border-b border-gray-200 py-2 flex items-center justify-between mb-16 sm:mb-20 -mx-4 px-4 sm:mx-0 sm:px-0">
            <button href="https://localhost:3000" type="button" class="group leading-6 font-medium flex items-center space-x-3 sm:space-x-4 hover:text-gray-600 transition-colors duration-200 w-full py-2">
               <img class="p-3 h-auto w-10/12 md:px-32 lg:h-24 lg:w-auto" src="public\css\assets\ecv02.png" alt="">
            </button>
            <div class="flex items-center space-x-6 sm:space-x-10 ml-6 sm:ml-10">
               <a href="https://localhost:3000/howtoplay" class="text-gray-400 hover:text-gray-500 transition-colors duration-200">
                  <span class="sr-only">How to Play</span>
                  <img src="https://img.icons8.com/dotty/80/000000/question-mark.png"/>
               </a>
            </div>
         </div>
         <h1 class="text-md sm:text-3xl lg:text-4xl leading-none tracking-tight text-gray-900 -my-10">v1.0</h1>
         <h1 class="text-4xl sm:text-6xl lg:text-7xl leading-none font-extrabold tracking-tight text-gray-900 mt-10 mb-8 sm:mt-14 sm:mb-10">Exploding Chickens</h1>
         <p class="max-w-screen-lg text-lg sm:text-2xl sm:leading-10 font-medium mb-10 sm:mb-11">
            A beautiful, online alternative to the popular kitty-powered version of Russian Roulette,  <code class="font-mono text-gray-700 font-bold ">Exploding Kittens</code>. Who will be the last one standing?
         </p>
         <div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center">
            <form class="sm:block" action="/game/create" method="POST" enctype="application/x-www-form-urlencoded">
                <button type="submit" class="w-full h-14 sm:w-auto flex-none bg-yellow-500 hover:bg-yellow-400 text-white text-lg leading-6 font-semibold py-3 px-6 border border-transparent rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-yellow-300 focus:outline-none transition-colors duration-200">
                    New Game
                </button>
            </form>
             <div class="bg-white">
                 <div class="container flex justify-center items-center">
                     <div class="relative">
                         <div class="absolute top-4 left-3">
                             <i class="fa fa-search text-gray-400 z-20 hover:text-gray-500"></i>
                         </div>
                         <input type="text" id="game_slug" class="h-14 w-96 pl-10 pr-20 rounded-xl text-lg z-0 bg-gray-50 text-gray-500 border border-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-300 focus:outline-none" placeholder="Enter a game code...">
                         <div class="absolute top-2 right-2">
                             <button class="h-10 w-24 text-white rounded-lg bg-red-500 hover:bg-red-600 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-300 focus:outline-none" onclick="join_game()">Join Game</button>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
      </div>
   </header>

    <footer class="bg-gray-50 pt-10 pb-10">
        <div class="max-w-screen-lg xl:max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 pb-6">
            <h1 class="text-gray-500 float-left">2021 Exploding Chickens. An open source project.</h1>
            <h2 class="text-gray-500 float-right">Release v{{ version }}</h2>
        </div>
    </footer>
</div>
    
</body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/public/js/home.js"></script>
    <script>
        function openModal(key) {
            document.getElementById(key).showModal();
            document.body.setAttribute('style', 'overflow: hidden;');
            document.getElementById(key).children[0].scrollTop = 0;
            document.getElementById(key).children[0].classList.remove('opacity-15');
            document.getElementById(key).children[0].classList.add('opacity-85')
        }

        function modalClose(key) {
            document.getElementById(key).children[0].classList.remove('opacity-85');
            document.getElementById(key).children[0].classList.add('opacity-15');
            setTimeout(function () {
                document.getElementById(key).close();
                document.body.removeAttribute('style');
            }, 100);
        }
    </script>


</html>